*{
    font-family: 'Crimson Text', serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    
}
.bod{
    background-image: linear-gradient(rgb(184, 203, 255),rgb(255, 255, 255));
    height: 600px;
    background-repeat: no-repeat;
}
.main{
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.mainsub1{
    margin-left: 25px;
    width: 45%;
}


.wel{
    background-color: rgb(58, 58, 131);
    color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}
.wo{
    font-size: 29px;
}
.h{
    margin-top: 20px;
    font-size: 60px;
    font-weight: bolder;
}
.para{
    margin-top: 30px;
    font-size: 18px;
    color: rgb(22, 22, 176);
}

.mainsub2{
    height: 420px;
    width: 420px;
    padding: 27px;
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.862);
    border-radius: 10px;
    box-shadow: rgba(128, 128, 128, 0.544) 1px 1px 30px;
}
.inpu{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.lab{
    text-align: center;
    display: flex;
    flex-direction: column;
}
span{
    margin-top: 30px;
}

input{
    height: 35px;
    margin-top: 10px;
}
.inpp{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.log{
    margin-top: 20px;

}
.for{
    margin-top: 26px;
    text-align: center;
}

.at{
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    height: 35px;
    background-color: rgb(218, 218, 218)
}
.at:hover{
    background-color: rgb(193, 193, 193);
    transition-duration: 0.7s;
}
.a1{
    text-decoration: none;
    color: black;
    position: relative;
    top: 7px;
}
.b1{
    color: white;
    background-color: rgb(58, 58, 131);
    height: 40px;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 20px;
}
.b1:hover{
    background-color: red;
    transition-duration: 0.5s;
}
.a2{
    text-decoration: none;
}

/*this is for second page*/
.pro{
    display: flex;
    flex-direction: column;
}
.l11{
    margin-top: 15px;
}
.dropdown{
    margin-top: 5px;
    height: 40px;
}
.mainsub2a{
    height: 610px;
    width: 420px;
    padding: 27px;
    margin-top: -20px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.862);
    border-radius: 10px;
    box-shadow: rgba(128, 128, 128, 0.544) 1px 1px 30px;
}
option{
    font-size: 18px;
}
.email{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.mob{
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}
.inpu1{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.inpp1{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
@media (max-width:1190px) {
    .main{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .wel{
        border-radius:9px;
    }
    .mainsub1{
        width: 100%;
        margin: 0;
    }
    .mainsub1 .h{
        font-size: 35px;
    }
    
    .mainsub2{
        width: 100%;
        
        margin-left: 0;
    }
    .mainsub2a{
        width: 100%;
        margin-left: 0;
        height: 650px;
        margin-top: 20px;
    }
}